.match-image {
  width: 100%;
  margin-top: 60px;
  height: 40vh;
  object-fit: cover;
}

.match-detail {
  font-weight: 500;
  font-size: 1.2rem;
  display: flex;
}

.match-team-image {
  width: 50px;
  height: 50px;
  margin: 10px;
}

#match-details-holder {
  width: 80%;
  text-align: center;
}

#match-details-holder h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 30px;
}

#match-details-holder h3 {
  font-size: 1.3rem;
  margin-top: 30px;
}

#match-details-holder h4 {
  font-size: 1.1rem;
}

.team-section-card-title {
  color: black;
  text-decoration: none;
}

.cancel-button {
  background: rgba(0, 0, 0, 0)
    linear-gradient(rgb(231, 87, 87), rgb(148, 30, 1)) repeat scroll 0% 0%;
  border: 0px none;
  padding: 4px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px;
  cursor: pointer;
  visibility: visible;
  user-select: none;
  color: white;
  font-weight: 600;
}

/* #match-details-holder div {
  width: 100%;
  text-align: center;
  margin: auto;
} */

#buyTicketBar {
  width: 100%;
  height: 49px;
  background-color: #5a8283;
  position: fixed;
  bottom: 0;
  display: flex;
  /* opacity: 0; */
}

#buyTicketBar button {
  margin-right: 20px;
  margin-left: auto;
  padding: 5px;
}
