.swiperCarousel {
  width: 100%;
  /* height: 100%; */
  background: rgb(255, 255, 255);
  /* position: absolute;
  bottom: 0; */
}

/* .swpier-wrapper {
  padding: 30px;
   background: rgb(0, 0, 0); 
} */

.swiper-slideCarousel {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  /* overflow: hidden; */
}

.crest {
  max-width: 70px;
}

.swiper-slide:hover .crest {
  transition-delay: 0s;
  transition: 10ms all;
  transform: scale(1.2);
  z-index: 4;
}

.crest img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* .county-crest {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
} */

#user-carousel {
  background: none;
}

.swiper-wrapper-club {
  background-color: rgba(0, 0, 0, 0.815);
  position: absolute;
  bottom: 0;
}

.follower-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 20px;
}
