@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");

.swiperCube {
  width: 99vw;
  height: 80vh;
  position: relative;
  left: 0;
  top: 0;
  /* margin-left: -150px; */
  margin-top: 80px;
  /* z-index: 10; */
}

.swiperCube h1 {
  font-weight: 300;
  font-size: 4rem;
}

.swiperCube span {
  font-family: "Island Moments", cursive;
  font-size: 5rem;
}

/* .swiperCube:focus {
  z-index: 10;
} */

.swiper-slideCube {
  background-position: center;
  background-size: cover;
}

.itemContainerCube {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.651);
  color: white;
  /* z-index: 50;*/
  /* padding: 10px; */
  text-align: center;
}

.itemContainerCube a {
  color: white;
  text-decoration: none;
}

.itemContainerCube a:hover {
  color: rgb(197, 187, 187);
  text-decoration: none;
}

#leadTextContainerCube {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  padding-top: 30vh;
  /* padding-left: 10vw; */
  /* margin-right: 10vw; */
  /* background: rgba(0, 0, 0, 0.664); */
  opacity: 0;
  transition: opacity 2s 1s;
}

#leadTextContainerCube span {
  opacity: 0;
  transition: opacity 2.5s 1s;
}

.textContainerCube {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  padding-top: 40vh;
  /* padding-left: 10vw; */
  /* margin-right: 10vw; */
  background: rgba(0, 0, 0, 0.308);
  /* opacity: 0;
  transition: opacity 2s 1s; */
}

#inputGroup {
  margin: auto;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  width: 60vw;
  height: 40px;
  border-radius: 10px;
}

#formSearch {
  width: 85%;
  padding: 5px;
  height: 100%;
  border-radius: 10px 0 0 10px;
}

#formSearch:focus {
  outline: none;
  border: 2px solid #60f7bd;
}

#inputGroup button {
  border: 0px;
  padding: 0px;
  outline: none;
  border-radius: 0 10px 10px 0;
  width: 15%;
  height: 100%;
  background-color: #0fd286;
}

#inputGroup button:hover {
  background-color: #60f7bd;
}

@media (max-width: 575px) {
  .swiperCube {
    /* height: 90vh; */
    margin-top: 70px;
  }
}

.whiteArrow {
  color: white;
}

/* .slide1 {
  background-image: url("https://res.cloudinary.com/btrearty/image/upload/v1638302144/matches/bg_s7fxsb.png");
} */
