#club-nav-container {
  width: 100%;
  z-index: 11;
  opacity: 0;
  transition: opacity 1s 1s;
}

#club-nav {
  /* background-color: #00db71; */
  height: 60px;

  color: #ffffff;
  /* position: fixed; */
  z-index: 3;
  width: 100%;
  /* opacity: 0;
  transition: opacity 2s 1s; */
}

.top-nav {
  position: fixed;
  top: 0;
  /* background-color: rgb(77, 168, 127); */
  background-color: rgb(5, 60, 60);
}

#club-nav a {
  /* color: black; */
  color: #f1f1f1;
  text-decoration: none;
  /* font-weight: 600; */
}

#club-nav .green-bg {
  /* background-color: rgb(77, 168, 127); */
  background-color: rgb(5, 60, 60);
  padding: 10px;
  z-index: 11;
}

.bold-hover {
  color: rgb(219, 200, 200);
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

.bold-hover:hover {
  color: rgb(255, 255, 255);
}

.green-bg div {
  text-align: center;
}

.logoOD {
  position: sticky;
  height: 120px;
  z-index: 12;
  animation: spin 2s ease-out;
  transition: all 0.2s ease-in-out;
}

.logoOD:hover {
  transform: scale(1.2);
}

.brandLogoOD {
  position: absolute;
  left: -67px;
  top: -33px;
}

@keyframes spin {
  0% {
    transform: translate(300vw, 0px);
  }
  100% {
    transform: translate(0px, 0px) rotate(-720deg);
  }
}

@media (max-width: 575px) {
  #club-nav {
    height: 50px;
  }

  .logoOD {
    height: 90px;
  }

  .disappearSM {
    display: none;
  }
}
