.swiper {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.slide1 {
  background-image: url("https://res.cloudinary.com/btrearty/image/upload/v1638302144/matches/bg_s7fxsb.png");
}
