@import url("https://fonts.googleapis.com/css2?family=Germania+One&display=swap");

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.profileTopCard {
  opacity: 1;
  color: black;
}

/* .logo-font {
  font-family: "Germania One", cursive;
  color: white !important;
  text-shadow: black;
} */

/* #homeCarousel {
  height: 20%;
}

#homeCarousel .carousel-pic img {
  width: 100%;
  height: 75vh;
  object-fit: cover;
  object-position: 0% 25%;
}

#homeCarousel .carousel-pic a {
  color: white;
  text-decoration: none;
}

#homeCarousel .carousel-pic a:hover {
  color: rgb(219, 200, 200);
} */
/* ////////////CARD SECTION//////////// */
.card-section {
  color: black;
  text-align: center;
  width: 98vw;
  /* margin-top: 100vh; */
}

.home-heading {
  padding-top: 10vh;
  /* padding-bottom: 4vh; */
  color: rgb(0, 0, 0);
  text-align: center;
  /* fon */
  font-weight: 500;
  text-transform: uppercase;
}

.card-section a {
  color: black;
  text-decoration: none;
}

.card-section a:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.card-section-card {
  text-align: left;
  border: 3px solid rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.329),
    0px 0px 10px rgba(0, 0, 0, 0.329);
  border-radius: 10px;
}

.card-img {
  transition: transform 0.3s ease;
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 1vh;
}

.card-section-card:hover {
  border: 3px solid rgb(5, 60, 60);
}

.card-section-card-info {
  padding: 0px 10px;
}

.card-section-card-title {
  text-align: center;
  padding-top: 10px;
  font-weight: 600;
}

.card-section-card-price {
  text-align: right;
  padding-top: 10px;
  font-weight: 600;
}

/* ///////////All matches//////// */

.comp-section-card-title {
  text-align: center;
  font-weight: 600;
  padding: 6px;

  color: black;
}

.comp-section-card-title:hover a {
  text-decoration: none;
}

.plus {
  margin-top: 30%;
  font-size: 3rem;
}

.addNew {
  background-color: rgb(248, 245, 245);
  text-align: centre;
  height: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5), 0px 0px 20px rgba(0, 0, 0, 0.507);
}
/* 

/* ///////////All matches//////// */

.team-section-card-title {
  text-align: center;
  font-weight: 600;
  padding: 6px;
}

.team-section-card-info {
  display: flex;
  justify-content: space-between;
}

.team-section-card-info span {
  padding: 6px;
}

.ticket-button {
  border: 0px;
  padding: 5px;
  outline: none;
  font-weight: 600;
  background-color: #0fd286;
  box-shadow: 0px 2px 2px rgb(189, 180, 180);
}

.ticket-button:hover {
  background-color: #60f7bd;
}

/* ////////////CARD SECTION//////////// */
/*////////////CLUB SECTION////////////*/

.afterNavbar {
  margin-top: 70px;
}

/*////////////CLUB SECTION////////////*/

.itemContainer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

#county-card {
  width: 100%;
  background-color: white;
  text-align: center;
  padding-top: 5%;
  margin-bottom: 5%;
  /* background: linear-gradient(#000000, #81928b); */
}

#event-card {
  width: 100%;
  background-color: white;
  text-align: left;
  margin-bottom: 20px;
  border: 3px solid white;
  border-radius: 10px;
}

#event-card:hover {
  border: 3px solid rgb(5, 60, 60);
}

#event-card div {
  text-decoration: none;
  color: black;
}

#event-card div:hover {
  text-decoration: none;
}

.profileImage {
  width: 80%;
  height: auto;
  object-fit: cover;
}

.profileImageUser {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.eventImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 20px;
}

/* .crestRow {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 2vh;
} */

.crestRow {
  columns: 16;
  background: rgb(212, 245, 216);
  margin-top: 10vh;
  /* margin-bottom: 10vh; */
}

.crestImage {
  margin: 1vh;
  margin-top: 2vh;
  height: 3rem;
  margin-bottom: 10px;
}

@media screen and (max-width: 992px) {
  .crestRow {
    columns: 8;
  }

  .crestImage {
    height: 4rem;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .crestRow {
    columns: 4;
  }

  .crestImage {
    height: 4rem;
    margin-bottom: 12px;
  }
}

.crestImage:hover {
  transition-delay: 0s;
  transition: 10ms all;
  transform: scale(1.2);
}

.username {
  padding-top: 20px;
  font-size: 23px;
}

/* footer {
  background-color: #066138;
} */

/* .match-image {
  width: 100%;
  margin-top: 60px;
  height: 70vh;
  object-fit: cover;
}

.match-detail {
  font-weight: 600;
  font-size: 1.2rem;
}

.match-team-image {
  width: 100px; 
  height: 100px;
  margin: 10px;
}

#match-details-holder {
  width: 50vw;
  margin: auto;
} */

h5 {
  text-align: center;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
