@import url("https://fonts.googleapis.com/css2?family=Germania+One&display=swap");

body {
  background: rgba(0, 0, 0, 0.9);
}

.blackBody {
  /* background: rgba(0, 0, 0, 0.9); */
  background: linear-gradient(#000000, #00301a);
  /* margin-top: 70px; */
  padding-top: 20px;
  height: 100%;
}

.login {
  opacity: 1;
  height: 100vh;
}

.profileTopCard {
  opacity: 1;
  color: black;
}

.logo-font {
  font-family: "Germania One", cursive;
  color: white !important;
  text-shadow: black;
}

#club-nav {
  /* background-color: #00db71; */
  height: 60px;
  /* background-color: #57d699; */
  background-color: #066138;
  color: #ffffff;
  position: fixed;
  z-index: 3;
  width: 100%;
}

#club-nav a {
  /* color: black; */
  color: #f1f1f1;
  text-decoration: none;
  font-weight: 600;
}

.green-bg {
  /* background-color: #57d699; */
  background-color: #066138;
  padding: 10px;
}

.bold-hover {
  color: rgb(219, 200, 200);
  color: #f1f1f1;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

.bold-hover:hover {
  color: rgb(219, 200, 200);
}

.green-bg div {
  text-align: center;
}

.match-text {
  color: white;
}

.white-text {
  color: black;
}

#searchbar {
  background-color: #b6fddb;
}

#searchbarItem {
  background-color: #d2fdb6;
}

#homeCarousel {
  height: 20%;
}

/* #homeCarousel .carousel-pic {
  height: 20%;
} */

#homeCarousel .carousel-pic img {
  width: 100%;
  height: 75vh;
  object-fit: cover;
  object-position: 0% 25%;
}

#homeCarousel .carousel-pic a {
  color: white;
  text-decoration: none;
}

#homeCarousel .carousel-pic a:hover {
  color: rgb(219, 200, 200);
}

#card-section {
  color: white;
  text-align: center;
  margin-top: 90vh;
  /* padding-bottom: vh; */
  /* height: 25vh; */
}

#card-section a {
  color: white;
  text-decoration: none;
}

#card-section a:hover {
  color: rgb(219, 200, 200);
}

.card-section-card {
  margin-bottom: 2vh;
}

.card-img {
  transition: transform 0.3s ease;
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 1vh;
}

.card-img:hover {
  transform: translateY(5px);
}

.ticket-button {
  background-color: #066138;
  cursor: pointer;
  padding: 5px;
}

.ticket-wrapper {
  margin-top: 10px;
}

.itemContainer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

#county-card {
  width: 100%;
  background-color: white;
  text-align: center;
  padding-top: 5%;
  margin-bottom: 5%;
  /* background: linear-gradient(#000000, #81928b); */
}

#event-card {
  width: 100%;
  background-color: white;
  text-align: left;
  margin-bottom: 20px;
}

.profileImage {
  width: 80%;
  height: auto;
  object-fit: cover;
}

.profileImageUser {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.eventImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 20px;
}

.crestRow {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 2vh;
}

/* .crestHolder {
  justify-content: space-around;
} */

.heading-county {
  color: white;
  text-align: center;
  font-weight: 600;
}

.crestImage {
  width: 5vh;
  margin: 1vh;
  margin-top: 2vh;
}

.crestImage:hover {
  transition-delay: 0s;
  transition: 10ms all;
  transform: scale(1.2);
}

.full-height {
  height: 100vh;
}

.username {
  padding-top: 20px;
  font-size: 23px;
}

footer {
  background-color: #066138;
}

.match-image {
  width: 100%;
  margin-top: 60px;
  height: 70vh;
  object-fit: cover;
}

.match-detail {
  font-weight: 600;
  font-size: 1.2rem;
}

.match-team-image {
  width: 100px;
  /* margin-top: 60px; */
  height: 100px;
  margin: 10px;
  /* object-fit: cover; */
}

#match-details-holder {
  width: 50vw;
  margin: auto;
}
